<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GR2HTWFX22"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-GR2HTWFX22');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Creative Commons Indonesia supports the usage of Creative Commons licenses and open cultural works in Indonesia">
    <meta name="author" content="Creative Commons Indonesia">

    <title>Article template</title>
    
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost&family=Sen&display=swap" rel="stylesheet"> 

    <!-- css -->
    <link href="../../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../../assets/css/custom.css" rel="stylesheet">
    <link href="../../assets/css/animate.min.css" rel="stylesheet">

    <!-- icons -->
    <link href="../../assets/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="../../assets/fontawesome/css/brands.css" rel="stylesheet">
    <link href="../../assets/fontawesome/css/solid.css" rel="stylesheet">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="../../assets/img/favicon.png">

    <!-- rss feed -->
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="../../feed.xml">
  </head>
    
  <body>
    <nav class="navbar navbar-dark navbar-expand-md" aria-label="Navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="../../index.html"><img src="../../assets/img/logoputih.png" alt="Creative Commons Indonesia" class="img-fluid" width="150"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#ccidnavbar" aria-controls="ccidnavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="ccidnavbar">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="resources" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Informasi
              </a>
              <ul class="dropdown-menu mt-3 bg-ccid-red-31 animate__animated animate__flipInY animate__faster" aria-labelledby="resources">
                <li><a class="dropdown-item" href="../../lisensi-cc-bahasa-indonesia.html">Lisensi</a></li>
                <li><a class="dropdown-item" href="../../kajian.html">Kajian</a></li>
                <li><a class="dropdown-item" href="../../faq.html">FAQ</a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="../../berita.html">Berita</a></li>
            <li class="nav-item"><a class="nav-link" href="../../acara.html">Acara</a></li>
            <li class="nav-item"><a class="nav-link" href="../../media.html">Media</a></li>
            <li class="nav-item"><a class="nav-link" href="../../tentang.html">Tentang kami</a></li>
            <li class="nav-item"><a class="nav-link" href="../../sobatccid.html">Sobat CCID</a></li>
          </ul>
          <ul class="navbar-nav ms-auto mb-2 mb-md-0">
            <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/CreativeCommonsIndonesia" title="Facebook"><i class="fa-brands fa-square-facebook"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="https://twitter.com/CC_ID" title="Twitter"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/cc.indonesia/" title="Instagram"><i class="fa-brands fa-instagram"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="../../hubungi-kami.html" title="Hubungi kami"><i class="fa-solid fa-address-book"></i></a></li>            
          </ul>       
        </div>
      </div>
    </nav>

    <!-- Breadcrumbs -->
    <div class="container-fluid mt-2">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="../../index.html"><i class="fa-solid fa-house-chimney"></i></a></li>
          <li class="breadcrumb-item"><a href="../../acara.html">Acara</a></li>
          <li class="breadcrumb-item active" aria-current="page">Article template</li>
        </ol>
      </nav>
    </div>         
          
    <main class="container article p-5">
      <div class="row mt-2 mt-md-5">
        <div class="col-12">

          <!-- Article meta -->
          <div class="row article-meta mb-3">
            <div class="col-sm-6">
              <i class="fa-solid fa-calendar-day fa-fw"></i> DATE
            </div>
            <div class="col-sm-6 pt-1 pt-sm-0 text-sm-end">
              <i class="fa-solid fa-share-from-square fa-fw pe-1"></i> Bagikan ke 
            
              <a href="http://www.linkedin.com/shareArticle?mini=true&url=https://creativecommons.or.id/DIRECTORY"><i class="fa-brands fa-linkedin ps-1" title="LinkedIn" aria-hidden="true"></i></a>

              <a href="https://facebook.com/sharer.php?u=https://creativecommons.or.id/DIRECTORY" rel="nofollow" target="_blank"><i class="fa-brands fa-facebook" title="Facebook" aria-hidden="true"></i></a>

              <a href="https://twitter.com/intent/tweet?url=https://creativecommons.or.id/DIRECTORY" rel="nofollow" target="_blank"><i class="fa-brands fa-twitter" title="Twitter" aria-hidden="true"></i></a>
            </div>
          </div>

          <h1>Article template</h1>

          <!-- Profile of the article author -->
          <div class="author-profile pt-2 mt-4 mb-5">
            <img class="img-fluid float-start" src="../../uploads/people/ccid-mosaic.png">
            <h5>Creative Commons Indonesia</h5>
            <h6><a href="https://www.facebook.com/CreativeCommonsIndonesia" title="Facebook"><i class="fa-brands fa-square-facebook pe-2"></i></a> <a href="https://twitter.com/CC_ID" title="Twitter"><i class="fa-brands fa-twitter pe-2"></i></a> <a href="https://www.instagram.com/cc.indonesia/" title="Instagram"><i class="fa-brands fa-instagram pe-2"></i></a> <a href="../../hubungi-kami.html" title="Hubungi kami"><i class="fa-solid fa-address-book"></i></a></h6>
          </div>

          <!-- Main article content goes here -->

          <h2>Example second-level heading</h2>

          <p>Example paragraph.</p>

          <h2>Images and videos</h2>

          <p>Images can be added in several ways, depending on how you want to present them. By default, images will aligned to the right of the article and have a small box shadow. Generally, you shouldn't change this, but you can if it suits the content of the article.</p>

          <p>The different types are the <b>basic image</b>, <b>borderless image</b>, <b>figure</b>, <b>figure group</b>, and <b>carousel</b>.</p>

          <h3>Steps</h3>

          <!-- Numbered list example -->
          <ol>
            <li>The first step for all images is to put the file(s) in the <code>uploads</code> folder of the CCID repo.</li>
            <li>Then copy/paste the code for the image type you want to use. If you want to understand more about the classes we use, refer to the Glossary section at the bottom of this document.</li>
            <li>Inside the code, replace "example.jpg" with the title of image you want to add, as well as the alt text.</li>
          </ol>

          <p>For best results, I recommend pasting the image code <i>above</i> the paragraph it will be appearing next to.</p>

          <!-- Basic image -->
          <img src="../../uploads/example.jpg" alt="Example alt text" class="img-fluid w-sm-50 float-sm-end ms-sm-5 mt-3 mb-4">

          <!-- Figure -->
          <figure class="figure w-sm-50 float-sm-end ms-sm-5 mt-3 mb-4">
            <img src="../../uploads/example.jpg" alt="Example alt text" class="figure-img img-fluid">
            <figcaption class="figure-caption">A figure example. Figure caption goes here.</figcaption>
          </figure>

          <h4>Step for borderless images</h4>

          <p>Sometimes, it will be more appropriate to remove the box-shadow and border on images. Compare the two images below, with and without these elements:</p>

          <!-- Basic bordered image -->
          <img src="../../uploads/noun_1032477_cc 22.png" alt="1-d2a780.jpg" class="img-fluid w-25 mb-4">

          <!-- Basic bordered image -->
          <img src="../../uploads/noun_1032477_cc 22.png" alt="1-d2a780.jpg" class="img-fluid borderless w-25 mb-4">

          <p>To achieve the second example, just add the <code>borderless</code> class (e.g. after "img-fluid").</p>

          <!-- Figure group example -->
          <figure class="figure mt-3 mb-4">
            <div class="figure-group">
              <img src="../../uploads/example.jpg" alt="Example alt text" class="figure-img img-fluid w-sm-30 mb-4 mb-sm-0">
              <img src="../../uploads/example.jpg" alt="Example alt text" class="figure-img img-fluid w-sm-30 mb-4 mb-sm-0">
              <img src="../../uploads/example.jpg" alt="Example alt text" class="figure-img img-fluid w-sm-30">
            </div>
            <figcaption class="figure-caption">This is an example of multiple images grouped together. Figure caption goes here.</figcaption>
          </figure>

          <h3>Carousels</h3>

          <p>A carousel is a slideshow. It's best used when you have a lot of images to show, but I generally recommend against it if you don't know what you're doing.</p>

          <p>In the example here, the carousel is aligned right like the other figures, but can be set to full width by deleting <code>float-md-end w-md-50 ms-md-5</code>.</p>

          <!-- Carousel example -->
          <div id="photocarousel" class="carousel slide float-md-end w-md-50 ms-md-5 mb-lg-3 mb-5" data-bs-ride="false">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../uploads/example.jpg" alt="Example alt text" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                  <p>Carousel example. Figure caption goes here.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../../uploads/example.jpg" alt="Example alt text" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                  <p>Carousel example. Figure caption goes here.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../../uploads/example.jpg" alt="Example alt text" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                  <p>Carousel example. Figure caption goes here.</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#photocarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#photocarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <h3>Videos</h3>

          <p>Videos can be added in the same way as figures.</p>

          <!-- Video -->
          <figure class="figure w-sm-50 float-end ms-5">
            <div class="ratio ratio-16x9">
              <iframe src="https://www.youtube.com/embed/tYODFSWTD8k" title="YouTube video" allowfullscreen></iframe>
            </div>
            <figcaption class="figure-caption">Video perkenalan CCID oleh <a href="https://jakartabeat.net">Jakartabeat.net</a>.</figcaption>
          </figure>

          <h2>Lists</h2>

          <p>This is an unordered list:</p>

          <ul>
            <li>Example item.</li>
            <li>Example item.</li>
          </ul>

          <p>This is an ordered (numbered) list:</p>

          <ol>
            <li>Example item.</li>
            <li>Example item.</li>
          </ol>

          <h2>Quotes</h2>

          <p>Add blockquotes as follows. The quote goes inside <code>blockquote</code> and the name of the person inside <code>figcaption</code>; if there's no name, just remove the <code>figcaption</code> part.

          <!-- Blockquote -->
          <figure class="mt-4">
            <blockquote class="blockquote">
              <p>Example quote.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Name
            </figcaption>
          </figure>

          <h2>Glossary of classes</h2>

          <p><code>w-*</code> sets the width to a specific percentage, so <code>w-100</code> sets it to 100%, <code>w-50</code> to 50%, etc.</p>

          <p><code>w-sm-*</code> is a custom class that will set the width to that percentage, but only on non-mobile devices, so it will be 100% on your phone, but not on your desktop. This class is used by default for images, so we don't have overly large images on big screens. <code>w-sm-50</code> sets it to 50%, <code>w-sm-25</code> to 25%.</p>

          <p><code>float-sm-end</code> is used to align the item to the right of the page. If you don't want to align it to the right, just delete this class.</p>

          <p><code>m-*</code> describes the spacing of margins, with the letter after the "m" referring to the top, bottom, left, and right of the item. Therefore, the top margin is <code>mt</code>, bottom margin is <code>mb</code>, left margin is <code>ms</code>, and right margin is <code>me</code>. The number describes the size of the margin, with 1 being the smallest and 5 the largest. This means, for example, <code>mt-1</code> is a small top margin and <code>mt-5</code> is a large one.</p>

          <p>Relatedly, <code>ms-sm-5</code> means the left margin ("ms") should be large ("5"), but only only non-mobile devices ("sm"). This will give some space to the left of the figure. We use this in conjunction with the image alignment setting, so that there is no ugly margin on phones, and if you delete <code>float-sm-end</code>, you should also delete <code>ms-sm-5</code>.

          <p>For additional guidance on these classes, see the Bootstrap documentation: <a href="https://getbootstrap.com/docs/5.2/getting-started/introduction/">https://getbootstrap.com/docs/5.2/getting-started/introduction/</a>.</p>

          <div class="article-end mt-5"></div>
        </div>
      </div>
    </main>

    <footer class="mt-5">
      <div class="container-fluid">
        <div class="row align-items-md-end pt-5 pb-4">
          <div class="col-md-12 col-lg-2 offset-lg-1 px-5 px-md-0 mb-4 mb-md-5 mb-lg-2 text-center align-self-center">
            <img src="../../assets/img/footer-sketch.svg" class="img-fluid h-100 px-2">
          </div>
          <div class="col-6 col-md-3 col-lg-2 mb-3 ps-5 ps-md-3 mb-md-0 d-flex justify-content-md-center">
            <ul class="ms-4 fa-ul">
              <li><h5>Informasi</h5></li>
              <li><span class="fa-li"><i class="fa-brands fa-readme"></i></span><a href="../../media.html">Media</a></li>
              <li><span class="fa-li"><i class="fa-brands fa-creative-commons"></i></span><a href="../../lisensi-cc-bahasa-indonesia.html">Lisensi</a></li>
              <li><span class="fa-li"><i class="fa-solid fa-book-open-reader"></i></span><a href="../../kajian.html">Kajian</a></li>
              <li><span class="fa-li"><i class="fa-solid fa-circle-question"></i></span><a href="../../faq.html">FAQ</a></li>             
            </ul>
          </div>
          <div class="col-6 col-md-3 col-lg-2 mb-3 mb-md-0 d-flex justify-content-md-center">
            <ul class="ms-4 fa-ul">
              <li><h5>Tentang kami</h5></li>
              <li><span class="fa-li"><i class="fa-solid fa-person-rays"></i></span><a href="../../tentang.html">Tentang kami</a></li>
              <li><span class="fa-li"><i class="fa-solid fa-newspaper"></i></span><a href="../../berita.html">Berita</a></li>
              <li><span class="fa-li"><i class="fa-solid fa-calendar-check"></i></span><a href="../../acara.html">Acara</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 col-lg-2 mb-3 ps-5 ps-md-3 mb-md-0 d-flex justify-content-md-center">
            <ul class="ms-4 fa-ul">
              <li><h5>Network</h5></li>
              <li><span class="fa-li"><i class="fa-solid fa-users"></i></span><a href="../../sobatccid.html">Sobat CCID</a></li>
              <li><span class="fa-li"><i class="fa-brands fa-creative-commons"></i></span><a href="https://creativecommons.org/">CCHQ</a></li>
              <li><span class="fa-li"><i class="fa-solid fa-earth-asia"></i></span><a href="https://network.creativecommons.org/">CC Global Network</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 col-lg-2 mb-3 mb-md-0 d-flex justify-content-md-center">
            <ul class="ms-4 fa-ul">
              <li><h5>Kontak</h5></li>
              <li><span class="fa-li"><i class="fa-solid fa-address-book"></i></span><a href="../../hubungi-kami.html">Hubungi kami</a></li>              
              <li><span class="fa-li"><i class="fa-brands fa-square-facebook"></i></span><a href="https://www.facebook.com/CreativeCommonsIndonesia">Facebook</a></li>
              <li><span class="fa-li"><i class="fa-brands fa-twitter"></i></span><a href="https://twitter.com/CC_ID">Twitter</a></li>
              <li><span class="fa-li"><i class="fa-brands fa-instagram"></i></span><a href="https://www.instagram.com/cc.indonesia/">Instagram</a></li>
          </div>
        </div>
        <div class="row footer-license">
          <div class="col-12 text-center text-white">
            <p class="my-4"><i class="fa-brands fa-creative-commons pe-1"></i><i class="fa-brands fa-creative-commons-by pe-1"></i> 2012&ndash;2025 Creative Commons Indonesia. Kecuali dinyatakan lain, konten di situs ini dilisensikan di bawah lisensi <a href="https://creativecommons.org/licenses/by/4.0/deed.id">Creative Commons Atribusi 4.0 Internasional</a>. 
          </div>
        </div>
      </div>
    </footer>

    <!-- js -->
    <script src="../../assets/js/jquery-3.6.1.min.js"></script>
    <script src="../../assets/js/popper.min.js"></script>
    <script src="../../assets/js/bootstrap.js"></script>
  </body>
</html>
